<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生信息管理系统-主页</title>


    <link rel="stylesheet" href="../src/layui/css/layui.css">
    <script src="../src/layui/layui.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>

    <script>

    </script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">学生信息管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left ayui-bg-blue">
<!--            <li class="layui-nav-item"><a href="">控制台</a></li>-->
<!--            <li class="layui-nav-item"><a href="">商品管理</a></li>-->
<!--            <li class="layui-nav-item"><a href="">用户</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">邮件管理</a></dd>-->
<!--                    <dd><a href="">消息管理</a></dd>-->
<!--                    <dd><a href="">授权管理</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right ayui-bg-blue">
            <li class="layui-nav-item">
                <a href="javascript:;" id="username">
<!--                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                    ？？
                </a>
                <dl id="" class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="quit()">退出</a></li>
        </ul>
    </div>

    <div class="layui-side ayui-bg-blue">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">首页</a>
                    <dl class="layui-nav-child">
                        <dd><a href="./welcome.html">欢迎</a></dd>
                        <dd><a href="./student.html">班级同学</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">个人信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="./baseinfo.html">基础资料</a></dd>
                        <dd><a href="./editpwd.html">安全设置</a></dd>
                        <dd><a href="javascript:;">选课列表</a></dd>
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">解决方案</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="javascript:;">列表一</a></dd>-->
<!--                        <dd><a href="javascript:;">列表二</a></dd>-->
<!--                        <dd><a href="">超链接</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">

        <!-- 内容主体区域 -->
<!--        <div style="padding: 15px;">-->
<!--            <div id="home_content"></div>-->
<!--        </div>-->
<!--        导航条-->

        <iframe id="iframeMain" src="" style="width: 100%"; height="100%";>
    
        
        </iframe>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>

    window.onload = function (){
        layui.use('element', function(){
            var element = layui.element;
            var $ = layui.$
        });

    }

    $(document).ready(function(){
        let userStore = sessionStorage.getItem("s_manager");
        console.log(userStore);
        var user = JSON.parse(userStore);

        $("dd>a").click(function (e) {
            e.preventDefault();
            $("#iframeMain").attr("src",$(this).attr("href"));
            // debugger;
        });

        if(user.name){
            document.getElementById("username").innerText = user.name;
            document.getElementById("home_content").innerText = `欢迎 ${user.name}`;
        }
    });


    // 退出
    let quit = function(){
        window.location.href = "../../"
    }





</script>
</body>
</html>